<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckEmailAvailability</servlet-name>
        <servlet-class>customer.CheckEmailAvailability</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmailAvailability</servlet-name>
        <url-pattern>/CheckEmailAvailability</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>insertRaw</servlet-name>
        <servlet-class>insertRaw</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ins</servlet-name>
        <servlet-class>rawServelets.ins</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rem</servlet-name>
        <servlet-class>rawServelets.rem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detIns</servlet-name>
        <servlet-class>rawServelets.detIns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rawAllocate</servlet-name>
        <servlet-class>rawServelets.rawAllocate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QInsert</servlet-name>
        <servlet-class>rawServelets.QInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchInsert</servlet-name>
        <servlet-class>rawServelets.SearchInsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>rawServelets.update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>allocate</servlet-name>
        <servlet-class>rawServelets.allocate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllocateRawMaterials</servlet-name>
        <servlet-class>rawServelets.AllocateRawMaterials</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>insertRaw</servlet-name>
        <url-pattern>/insertRaw</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ins</servlet-name>
        <url-pattern>/ins</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rem</servlet-name>
        <url-pattern>/rem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detIns</servlet-name>
        <url-pattern>/detIns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rawAllocate</servlet-name>
        <url-pattern>/rawAllocate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QInsert</servlet-name>
        <url-pattern>/QInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchInsert</servlet-name>
        <url-pattern>/SearchInsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>allocate</servlet-name>
        <url-pattern>/allocate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllocateRawMaterials</servlet-name>
        <url-pattern>/AllocateRawMaterials</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            780
        </session-timeout>
    </session-config>
</web-app>
